@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
    margin: 0;
    padding: 0;    
    font-family: 'Raleway', sans-serif; 
} 

@font-face {
    font-family: harlow;
    src: url(../fonts/Harlow-Solid-Italic.ttf);
}

p {
    font-size: 14px;
    line-height: 20px; 
    color: #4c4c4c;
    font-family: 'Raleway', sans-serif;
}
.font-medium{
    font-size: 16px;
    line-height: 24px; 
    color: #4b4b4b;
    font-family: 'Raleway', sans-serif;
}
.font-small{
    font-size: 14px;
    line-height: 18px; 
    color: #4b4b4b;
    font-family: 'Raleway', sans-serif;
    text-align: right;
}
.thumb-description p{
    font-size: 16px;
    line-height: 24px; 
    color: #4b4b4b;
    font-family: 'Raleway', sans-serif;
    margin-top:20px;
    text-align: left;
}

ul {
    list-style-type:none; 
}

h1{
    font-size: 42px;
    line-height: 48px;
    color: #a8cc3d;
    font-family: 'harlow', sans-serif;
}
h2{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.200em;
    font-family: 'Raleway', sans-serif;
}
.h2-cal{
    font-size: 16px;
    line-height: 24px; 
    font-family: 'Raleway', sans-serif;
}
.h2-vertical-align{
  padding-top: 8px;
}
h3{
    font-size: 20px;
    line-height: 38px; 
    color: #4c4c4c;
    font-family: 'Raleway', sans-serif;
}
h4{
    font-size: 14px;
    line-height: 18px; 
    color: #cad92b;
}
h4 dd{
    color: #a8cc3d;
    max-width: 50px;
}
h5{ 
    font-size: 14px;
    line-height: 18px;
    color: #a8cc3d;
}


dd.level1 a{
    font-size: 14px;
    line-height: 18px; 
    color: #cad92b;
    text-decoration: none;
}
dd.level2 a{
    font-size: 14px;
    line-height: 18px; 
    color: #a8cc3d;
    padding-left: 10px;
    text-decoration: none;
}
dd.level3 a{
    font-size: 14px;
    line-height: 18px; 
    color: #89b336;
    padding-left: 25px;
    text-decoration: none;
}

/* Modif UIKIT */
.uk-grid+.uk-grid.margin-slider{
  margin-top: 30px;
}
.uk-grid+.uk-grid.margin-content{
  margin-top: 28px;
}
.uk-grid+.uk-grid.margin-content-2{
  margin-top: 24px;
}
.uk-grid+.uk-grid.margin-content-footer{
  padding-top: 10px;
  padding-bottom: 10px;
}
.uk-grid+.uk-grid.padding-page{ 
  padding: 0 28px 0 28px;
}
.uk-grid+.uk-grid.padding-page-img{ 
  padding: 0 30px 0 30px;
}
.uk-grid+.uk-grid.margin-content-gallery{
  margin-top: 20px;
}
.uk-grid+.uk-grid, .uk-grid-margin, .uk-grid>*>.uk-panel+.uk-panel {
  margin-top: 2px;
}
.uk-thumbnail {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 4px;
  border: 1px solid #acacac;
  background: #fff;
}
.uk-grid+.uk-grid.gallery-grid .uk-width-large-1-2{
  margin-bottom: 20px;
}
.uk-grid+.uk-grid.padding-page-contact{ 
  padding: 0 30px 0 30px;
}

/* FORM */
.uk-form-horizontal.sasana-form .uk-form-controls {
    margin-left: 98px;
    font-size: 14px;
    width: 85%
}
.uk-form-horizontal.sasana-form .uk-form-label {
    width: auto;
}
.uk-form-horizontal.sasana-form .uk-form-row .uk-form-controls input[type=text].capcha{
    width: 120px;
    height: 22px;
}
.uk-form-horizontal.sasana-form .uk-form-row .uk-form-controls input[type=text]{
    height: 22px;
}
.uk-form-horizontal.sasana-form .uk-form-row .uk-form-controls input[type=text], 
.uk-form-horizontal.sasana-form .uk-form-row .uk-form-controls textarea {
    border: 1px solid #87b727;
    width: 80%; 
    margin-top: 2px;
} 
.icon-button{
    padding: 0 40px;
    background-image: url('../images/send.png');
    width: 91px;
    height: 30px;
    border: none;
    border-bottom-color: none; 
}
button.icon-button{ 
    width: 91px;
    height: 39px;
    background-color: transparent;
    background-image: url(../images/send.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 39px 0 0 20; 
    border: none;
    cursor: pointer;
    text-indent: -9000px;
}

.img-res{
  width: 94%;
}

/* Nav Bar MEnu */
.uk-navbar {
  background: none;
  color: none;
}
.uk-navbar-nav-custome li{
    width: 146px;
    height: 120px; 
    margin: 0 auto;
    text-align: center;
}
.uk-navbar-nav-custome li > a{
    text-decoration: none; 
    font-family: 'Raleway', sans-serif;
    color: #89b336;
    font-size: 18px;
    line-height: 22px;
    padding-top: 10px;
}
 
.uk-navbar-nav-custome li > a span{
    padding-top: 10px; 
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    margin: 0 auto;
    width: 142px; 
}
.uk-navbar-nav-custome li.uk-active,
.uk-navbar-nav-custome li.uk-active a{
    background-color: #eff4bf;
    color: #89b336;
}
.uk-navbar-nav-custome > li:hover > a,
.uk-navbar-nav-custome > li > a:focus,
.uk-navbar-nav-custome > li.uk-open > a {
    background-color: #eff4bf;
    color: #cad92b;
  /* 3 */
    outline: none; 
    height: 120px;
    cursor: pointer;
}
/* sub menu */
.uk-navbar-nav-custome div.uk-dropdown.uk-dropdown-navbar{
    border: 2px solid #eff4bf; 
    background: #fff;
    width: 146px;
    margin: 0;
    padding: 0; 
}
.uk-navbar-nav-custome div.uk-dropdown.uk-dropdown-navbar ul{
    width: 142px;
    margin:  0 auto;  
}
.uk-navbar-nav-custome div.uk-dropdown.uk-dropdown-navbar ul li{
    width: 142px; 
    height: 30px;
    padding: 0px 10px 10px 0px
}
.uk-navbar-nav-custome div.uk-dropdown.uk-dropdown-navbar ul li a{
    font-size: 16px; 
    padding-top: 0;
    background: none;
    position: relative;
    top: -10px;
}
.uk-navbar-nav-custome div.uk-dropdown.uk-dropdown-navbar ul li + li{
    border-top: 1px solid #f6f8df; 
    padding-bottom: 5px;
}
.uk-navbar-nav-custome div.uk-dropdown.uk-dropdown-navbar ul li a:hover{
    font-size: 16px; 
    color: #cad92b;
}


/* Content */
.btn-readmore{
    background-image: url('../images/Read-CTA.png');
    width: 90px;
    height: 30px;
    display: inline-block;
}
.btn-readmore:hover{
    background-image: url('../images/Read-Hover.png');
    width: 90px;
    height: 30px;
    display: inline-block;
}

.uk-thumbnail.info{
    padding: 8px;
}
.phone-daftar span{
    margin-left: 20px;
}
.content{
    margin-bottom: 30px;
}

/* Content Sortcode */
.phone-daftar-description{
    margin-top: 30px;
}
.phone-daftar-description ul{
    margin: 0;
    padding: 0;  
    list-style-type: disc; 
    padding-left: 20px;
    margin-left: 26px;
}
.phone-daftar-description.number ul{
    margin: 0;
    padding: 0;  
    list-style-type: decimal;
    padding-left: 20px;
    margin-left: 26px;
}
.phone-daftar-description p {  
    padding-left: 35px;
}

/* INformasi */
ul.paragraph-bullet{
  padding: 0;
  margin: 0;
   list-style-type: disc;
}
ul.paragraph-bullet li{
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  line-height: 24px; 
  color: #4c4c4c;
  font-family: 'Raleway', sans-serif;
}

/* Rekanan */
.margin-rekanan{
    margin-top: 29px 
}

/*
 * Medium gutter
 */
/* Horizontal */
.uk-grid-medium-30 {
  margin-left: -30px;
}
.uk-grid-medium-30 > * {
  padding-left: 30px;
}

/* Horizontal */
.uk-grid-medium-20 {
  margin-left: -20px;
}
.uk-grid-medium-20 > * {
  padding-left: 20px;
}


/* Gallery */
.two-col{

}

.flipster-carousel{ 
}
.flipster li img{
   
}


/* CONTACT */
.uk-grid-small.contact-phone {
    margin-bottom: 15px;
}

ul.random-slide{
    
    padding: 0;
    margin: 0;   
}
 
.uk-form select:focus,
.uk-form textarea:focus,
.uk-form input:not([type]):focus,
.uk-form input[type="text"]:focus {
  border-color: #99baca;
  outline: 0;
  background: #f7f9df;
  color: #444444;
}
.abs-button-contact{
  position: relative;
  top: -38px;   
}


/* CALENDAR */

.uk-calendar-right{
    padding-left: 30px;
}
.margin-calendar-mmc{
  padding-top: 120px
}
.margin-calendar{
    padding-top: 20px
}
.daily-bg{
    background-image: url('../images/daily-bg.png');
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;

}
.daily-date{
  position: relative;
  top: 5px;
  left: 2px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
.m-confirm{
  background-image: url('../images/m-confirm.png');
  background-repeat: no-repeat;
  width: 38px;
  height: 30px;
  display: inline-block;
}
.m-confirm-block{
  background-image: none;
  background-repeat: no-repeat;
  width: 38px;
  height: 30px;
  display: inline-block;
}
.m-tentative{
  background-image: url('../images/m-tentative.png');
  background-repeat: no-repeat;
  width: 38px;
  height: 30px;
  display: inline-block;
}
.c-confirm{
  background-image: url('../images/c-confirm.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.c-tentative{
  background-image: url('../images/c-tentative.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;

}
.night-top{
  position: relative;
  top: 5px; 
  left: -2px;
}
.night-bottom{
  position: relative;
  top: -18px;
  left: 25px; 
}
.night-1{
  position: relative;
  top: 0px; 
  left: 10px;
}
.night-2{
  position: relative;
  top: -8px;
  left: 10px; 
}
.noon{
  position: relative; 
  top: 10px;
  left: -20px;
}

.daily-box{
  float: left; 
  width: 100%; 
  height: 90px;
}
.daily-box-one{
  float: left;
  width: 20%;
  height: 30px;
  margin: 2px;
}
.daily-box-two{
  float: left;
  width: 60%;
  height: 30px;
  margin: 2px;  
}
.daily-box-tree{
  float: left;
  width: 40%;
  height: 50px;
  margin: 2px; 
}
.daily-box-four{
  float: left;
  width: 40%;
  height: 50px;
  margin: 2px;  
}
.m-hidden{
  display: none;
}

    h2 {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 10px;
      text-align: center;
    }

    button { 
    }

    button:first-child {
      left: 0;
    }

    button:last-child {
      left: 50px;
    }

    table {
      background: #fff;
      border-collapse: collapse;
      color: #222;
      /*font-family: 'PT Sans', sans-serif;*/
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      width: 100%;
    }
    tr.daily td{
      width: 90px;
      height: 90px;
    }
    tr.daily-head td{
      font-size: 20px; 
    }
    td {  
      color: #444;
      line-height: 22px;
      text-align: center; 
    }
    td + td{
      border-left: 1px solid #acacac;
      border-bottom-: 1px solid #acacac;
      color: #444;
      line-height: 40px;
      text-align: center;
    } 

    tr + tr  td{
      border-top: 1px solid #acacac; 
    } 
 

    tr:first-child td {
      color: #222;
      font-weight: 700;
    }

    .selected {
      background: #f0951d;
      border: 0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
    }

.cal-ym{
    font-size: 32px;
    line-height: 38px; 
    color: #010101;
    font-family: 'PT Sans', sans-serif; 
}
.uk-cal-ym{
    margin-right: 2px;
}
.tes{
  background: red
}
.cal-arrow-left{
    background-image: url('../images/cal-arrow-left.png');
    width: 30px;
    height: 30px;
    display: inline-block;
    border: none; 
}
.cal-arrow-right{
    background-image: url('../images/cal-arrow-right.png');
    width: 30px;
    height: 30px;
    display: inline-block;
    border: none; 
}
.cal-sidebar{
    margin-top: 58px
}
.cal-sidebar .cal-sidebar-text{ 
   padding-top: 8px;
}
 
/* POPUP SUCCESS */

.popup-success-box {
  position: absolute;
  left: 43%;
  right: 30%;
  top: 140%;
  bottom: 0;
  background: #74b420;
  width: 180px;
  height: 122px;  
}

.popup-success{
  margin: 0 auto;
  width: 120px;
  height: 60px;
  text-align: center;
  color: #fefefe; 
}
.popup-success div.font-medium{ 
  color: #fefefe;
  padding-top: 10px;
}
.ok-button{
  background-image: url('../images/ok.png');
  width: 30px;
  height: 30px;
  display: inline-block;
}

/* / POPUP SUCCESS */

/* Footer */

.line{
    background-image: url('../images/line.png');
    width: 100%;
    height: 5px;
    display: inline-block;
}


/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {


}

/* Larger than tablet */
@media (min-width: 750px) {


}

/* Larger than desktop */
@media (min-width: 1000px) {


}

/* Larger than Desktop HD */
@media (min-width: 1220px) {
    .uk-container {
        margin: 0 auto;
        max-width: 1024px;
        padding: 0 0px;
    }
}